.section-title {
  text-align: center;
  margin: 5rem auto;
  margin-bottom: 2rem;
}

.section-title h1 {
  font-family: var(--secondary-font);
  color: var(--clr-monaLisa);
}
.underline {
  width: 10rem;
  height: 0.25rem;
  margin: 0 auto;
  background: #fff;
}
